@mixin respond($device) {
    @if $device=='tab-land' {
        @media only screen and (max-width: $bp-big) {
            @content
        }
    }
    @if $device=='tab-port' {
        @media only screen and (max-width: $bp-medium) {
            @content
        }
    }
    @if $device=='mobile' {
        @media only screen and (max-width: $bp-small) {
            @content
        }
    }
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin underline-effect {
    &:hover::after {
        width: 80%;
    }
    &:hover::before {
        width: 90%;
    }
    &::after,
    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        // top: 100%;
        width: 0;
        height: 1px;
        background-color: $color-fouth;
        transition: $transition-style-slow;
    }
    &::after {
        left: 10%;
        top: 100%;
    }
    &::before {
        right: 5%;
        top: 110%;
    }
}