$color-primary: #27ae60;
$color-secondary: #FF3366;
$color-tertiary :#666;
$color-fouth :#fbbc04;
$color-white :#fff;
$color-black :#192a56;
$color-black-1: #2C3333;
$color-grey-1 :rgb(238, 238, 238);
$color-grey-2 :#FBF8F1;
$color-grey-3 :#acacac;
$transition-style-fastest :all .2s ease;
$transition-style-fast :all .3s ease;
$transition-style-medium :all .4s ease;
$transition-style-slow :all .6s ease-in;
$shadow-small :0 .5rem 1rem rgba(0, 0, 0, .1);
$shadow-medium :0 1rem 2rem rgba(0, 0, 0, .1);
$bp-big :62.5em; //1000px
$bp-medium :48em; //768px
$bp-small :37.5em; //600px